<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VehicleRegistry Razor</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/validate/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="@Url.Action("Index", "Home")" id="home" class="button">Home</a>
            <a href="@Url.Action("Index", "Car")" id="add-car" class="button">Add car</a>
            <a href="@Url.Action("Index", "Manufacturer")" id="add-manufacturer" class="button">Add manufacturer</a>
        </div>

        <div id="body">
            @RenderBody()
        </div>
    </div>
</body>
</html>