@model VehicleRegistry.Razor.Web.ViewModels.CreateCarViewModel

<form class="form">
    @Html.ValidationSummary(true)

    <table>
        <tr>
            <td>Name:</td>
            <td>@Html.TextBoxFor(m => m.Car.Name)</td>
        </tr>

        <tr>
            <td>Consumption:</td>
            <td>@Html.TextBoxFor(m => m.Car.Consumption)</td>
            <td>l/100km</td>
        </tr>

        <tr>
            <td>Color:</td>
            <td>@Html.TextBoxFor(m => m.Car.Color)</td>
        </tr>

        <tr>
            <td>Manufacturer:</td>
            <td>
                <select id="manufacturer-selector" name="manufacturer">
                    @foreach (var item in Model.ManufacturerName)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td>Available:</td>
            <td>@Html.TextBoxFor(m => m.Car.Available)</td>
        </tr>

        <tr>
            <td>Year:</td>
            <td>@Html.TextBoxFor(m => m.Car.Year)</td>
        </tr>

        <tr>
            <td>Horsepower:</td>
            <td>@Html.TextBoxFor(m => m.Car.Horsepower)</td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Save">
            </td>
        </tr>
    </table>
</form>